page-lock-screen {
    ion-grid {
        width: 90% !important;
        margin-top: 35%;
        ion-col {
            text-align: center;
            a {
                color: color($colors, secondary, base) !important;
            }
        }
        button {
            width: 4em !important;
            height: 4em !important;
            font-weight: bold;
            // font-size: 1.5em !important;
        }
    }

    ion-content {
        background-color: color($colors, primary, base) !important;
        // background-image: url('../../assets/imgs/sparkle.jpg');
    }
}
