page-lock-screen {
    ion-grid {
        width: 70% !important;
        margin-top: 35%;
        ion-col {
            text-align: center;
            a {
                color: color($colors, secondary, base) !important;
            }
        }
        button {
            width: 2rem;
        }
    }

    ion-content {
        background-color: color($colors, primary, base) !important;
        // background-image: url('../../assets/imgs/sparkle.jpg');
    }
}
