<ion-content padding>

  <!-- Float the icon left -->
  <ion-grid>
    <ion-row>
        <ion-col col-3 *ngFor="let c of 4 | times">
          <button ion-button clear>
              <ion-icon color="light" [name]="passCode.length >= c ? 'radio-button-on' : 'radio-button-off'"></ion-icon>
          </button>
        </ion-col>
    </ion-row>
      <ion-row *ngFor="let r of buttons">
          <ion-col col-4 *ngFor="let c of r" (click)="addCharacter(c)">
              <button color="light" ion-button round large outline>{{c}}</button>
          </ion-col>
      </ion-row>

      <ion-row>
          <ion-col col-4>
              <button color="light" ion-button  large clear>
                  <ion-icon name="finger-print"></ion-icon>
              </button>
          </ion-col>
          <ion-col col-4>
              <button color="light" ion-button round large outline (click)="addCharacter(0)">0</button>
          </ion-col>
          <ion-col col-4>
              <button color="light" ion-button  large clear (click)="backspace()">
                  <ion-icon name="backspace"></ion-icon>
              </button>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col col-12>
            <a *ngIf="createNew && !creating" (click)="creating = true;">Crear nuevo código</a>
            <p *ngIf="creating">Ingrese su nuevo código</p>
          </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
