page-list {
    ion-list {
        // border: 1px solid;
        // border-color: rgba(255, 255, 255, 0.5);

        .item {
            background-color: color($colors, dark, base) !important;
            color:  color($colors, light, base) !important;
            padding-left: 0;
    
            .item-inner {
                padding-left: 16px
            }
        }
    }

}
